@media (min-width: 768px) {
  .narrow-container {
    max-width: 700px;
  }
  .setup-steps {
    font-size: 18px;
    padding-top: 130px;
  }
  .navbar-nav>li>a {
    padding-top: 19px;
    padding-bottom: 19px;
  }
  .modal-dialog {
    margin: 80px auto;
  }
}
@media (max-width: 768px) {
  .left-col {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 20px;
  }
  .logo-wrap {
    margin: 0;
    padding: 10px 0;
  }
  .right-col {
    padding: 20px 20px 60px;
  }
  .container, .setup-wrap, .setup-wrap .col-wrap {
    height: auto;
  }
}
