html, body {
  height: 100%;
}
body {
  background: #eef1f8;
  font-family: "Gotham Prowork", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
label {
  font-size: 15px;
  font-weight: normal;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham Medium";
  font-weight: normal;
}
a {
  color: #1D80D2;
  text-decoration: none;
}
.container, .setup-wrap, .setup-wrap .col-wrap {
  height: 100%;
  padding: 0;
}
.left-col, .right-col {
  min-height: 100%;
  background-color: #990000;
  padding: 10px;
}
.col-wrap {
  position: relative;
}
.left-col {
  background: #1E283E;
  padding: 10px 40px;
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: inherit;
}
.left-col.dash-nav {
  padding: 0;
}
.right-col {
  background: #fff;
  padding: 20px 60px 60px;
}
.grid-box {
  border-right: 1px solid #e8e9ee;
  padding: 38px 10px;
  height: 130px;
}
.grid-box h2 {
  margin-top: 0;
  color: #1D80D2;
  font-size: 26px;
  margin-bottom: 3px;
}
.grid-box > span {
  font-family: "Gotham Book", Arial, sans-serif;
}
.g-completed h2 {
  color: #8bc34a;
}
.g-critical h2 {
  color: #EA2713;
}
.no-border {
  border: none !important;
}
.no-border-top {
  border-top: none !important;
}
.section-wrap.with-right {
	padding-left: 10px;
	padding-right: 0;
}
.grid-box-wrap {
  margin: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.grid-wrap-unit > .row {
  border-bottom: 1px solid #e8e9ee;
}
.nav-search {
  position: relative;
}
.nav-search .form-control {
  border-radius: 30px;
  background: #FAFBFC;
  padding-left: 40px;
}
.nav-search .search-icon {
  font-size: 22px;
  position: absolute;
  left: 27px;
  top: 6px;
  color: #90A4AE;
}
.logo-wrap {
  margin: 0 0 72px;
}
.white-wrap {
  background: #fff;
  padding: 20px 15px;
  border-radius: 5px;
}
.d-unit {
  padding: 10px 25px 20px;
}
.navbar-brand {
  height: 58px;
  padding: 19px 15px;
}
.navbar-brand i {
  font-size: 15px;
  vertical-align: middle;
  margin-left: 5px;
}
.navbar-white {
  background: #fff;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(0, 0, 0, .1);
}
.white-wrap > h3 {
  margin-top: 0;
}
.form-control {
  box-shadow: none;
  height: 42px;
  font-family: "Gotham Book", Arial, sans-serif;
  margin-bottom: 20px;
}
.btn {
  font-family: "Gotham Medium", Arial, sans-serif;
  font-weight: normal;
  padding: 10px 15px;
  font-size: 15px;
}
.has-feedback label~.form-control-feedback {
  top: 29px;
}
.right-col.dashboard-wrap {
  background: #eaf2f4;
  padding: 0;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}
.navbar .form-control {
  margin-bottom: 0;
}
.dash-nav .logo-wrap {
  margin: 15px 0 0 25px;
}
.container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}
.setup-steps li {
  font-size: 20px;
  margin: 0 0 46px;
  color: #8892AB;
  font-family: "Gotham Book", Arial, sans-serif;
}
.setup-steps li.active {
  color: #fff;
  font-family: "Gotham Prowork", Arial, sans-serif;
}
.setup-steps li.active i {
  color: #8DEF26;
}
.has-success .form-control {
  border-color: #96c93f;
}
.has-success .form-control-feedback {
  color: #76A526;
}
.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label {
  color: #679618;
}
.dash-nav ul {
  margin: 18px 0 0;
}
.dash-nav li {
  font-size: 17px;
  margin: 0;
  color: #696c74;
  font-family: "Gotham Book", Arial, sans-serif;
}
.dash-nav li a {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  padding: 15px 25px;
  position: relative;
}
.dash-nav li a:hover, .dash-nav li a:focus {
  text-decoration: none;
}
.dash-nav li a i {
  font-size: 22px;
  vertical-align: middle;
  width: 22px;
  display: inline-block;
}
.dash-nav li.active a {
  font-family: "Gotham Medium", Arial, sans-serif;
  color: #fff;
  background: #0F1729;
}
.dash-nav li.active a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2.5%;
  height: 95%;
  border-radius: 0 5px 5px 0;
  width: 4px;
  background: #33a4fa;
}
.p-title {
  margin: 0 0 15px;
  text-transform: uppercase;
  color: #7f8fa4;
}

.btn-primary {
  background: #0094f7;
  border-color: #0094f7;
}
.btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover {
  color: #fff;
  background-color: #0580D2;
  border-color: #0580D2;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
}
.sidebar {
  position: fixed;
  background: #212a3e;
}
.pro-unit, .port-unit {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
}
.pro-top, .port-top {
  border-bottom: 1px solid #dfe3e9;
  padding: 20px 20px 16px;
}
.pro-top ul {
  margin: 0;
}
.pro-top ul li {
  padding: 0;
}
.pro-top ul li {
  margin-right: 15px;
}
.pro-top ul.pull-right li {
  margin-right: 0;
  margin-left: 15px;
}
.port-body {
  padding: 20px;
}
.pro-body {
  padding: 0;
}
.proj-body {
	padding: 0 10px;
}
.proj-body .p-progress {
	padding: 16px 5px;
}
.proj-body .p-progress .progress {
	height: 10px;
}
.pro-body .row > .col-md-6:first-child {
  padding-right: 0;
}
.pro-title h4 {
  margin-top: 0;
}
.port-title h4 {
	color: #1D80D2;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-title-wrap {
	width: 50%;
}
.page-title {
	display: inline-block;
	width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pro-info, .port-info {
  font-family: "Gotham Book", Arial, sans-serif;
  color: #757575;
}
.port-info ul {
  line-height: 2;
}
.pro-info li > i, .port-info li > i {
  color: #c3cbdf;
  font-size: 16px;
  vertical-align: middle;
}
.nav>li>a:focus, .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}
.p-img {
  margin: -2px 8px 0 0;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.p-img img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.setting-btn, .setting-btn:hover, .setting-btn:active {
  padding-right: 0 !important;
  background: transparent !important;
  border: none;
  box-shadow: none;
}
.section-wrap > hr {
  border-color: #ccc;
}
.call-btn {
  display: inline-block;
  background: #8bc34a;
  color: #fff;
  padding: 2px 10px;
  border-radius: 20px;
}
.call-btn:hover, .call-btn:focus {
  color: #fff;
  background: #7CAD43;
  text-decoration: none;
}
.pro-info strong {
  color: #222;
}
.progress-bar-danger {
  background: #ef5350;
}
.progress-bar-success {
  background: #8bc34a;
}
.progress-bar-warning {
  background: #c2c8d5;
}
.crit-table {
  font-family: "Gotham Book", Arial, sans-serif;
  font-size: 13px;
  border-right: 1px solid #dfe3e9;
}
.p-progress {
  padding: 16px 20px 0 5px;
}
.p-progress h5 {
  margin-bottom: 5px;
}
.t-title {
  background: #f6fbfc;
  font-family: "Gotham Medium", Arial, sans-serif;
  padding: 8px 20px;
  border-bottom: 1px solid #dfe3e9;
}
.t-body {
  padding: 15px 20px;
  min-height: 112px;
}
.t-body .row {
  padding-bottom: 10px;
}
.t-body .row.last {
  padding-bottom: 0;
}
.progress {
  border-radius: 25px;
  box-shadow: none;
  background-color: #eef1f8;
}
.progress-bar {
  box-shadow: none;
}
.section-wrap {
  padding: 25px;
}
.navbar-fixed-top {
  left: auto;
  width: inherit;
}
.pad-top {
  padding-top: 60px !important;
  /*For fixed top nav*/
}
.add-p-btn {
  padding: 4px 14px 0;
  font-size: 13px;
  margin: -3px 0 0 10px;
}
.modal-content {
  box-shadow: none;
}
.modal-header, .modal-body, .modal-footer {
  padding: 15px 25px;
}
.modal-title {
  line-height: 1.6;
}
.modal-header .close {
  font-size: 32px;
  font-weight: normal;
  line-height: 0.6;
  margin-top: 5px;
}
.modal.fade .modal-dialog {
  transition: -webkit-transform .2s ease-out;
  transition: transform .15s ease-out;
  transition: transform .15s ease-out, -webkit-transform .15s ease-out;
}
.update-right {
	background: #fff;
	border-left: 1px solid #ccc;
	position: fixed;
	width: inherit;
	height: 100%;
	padding: 12px 0 0;
}
.update-right .nav-tabs>li.active>a, .update-right .nav-tabs>li.active>a:focus, .update-right .nav-tabs>li.active>a:hover, .update-right .nav-tabs>li>a:hover {
	border-left: none;
	border-right: none;
	border-top: none;
}
.update-right .nav-tabs>li>a, .update-right .nav-tabs>li.active>a, .update-right .nav-tabs>li.active>a:focus, .update-right .nav-tabs>li.active>a:hover {
	border-color: #ddd;
}
.update-right .nav-tabs>li.active>a, .update-right .nav-tabs>li.active>a:focus, .update-right .nav-tabs>li.active>a:hover {
	border-bottom: 2px solid #a261ed;
	color: #a261ed;
}
.nav-tabs>li>a {
	color: #999;
	border: none;	
}
.activity-list-wrap,
.members-list-wrap {
	position: fixed;
	height: 93%;
	padding-bottom: 7%;
	overflow-y: scroll;
	min-width: 285px;
}
.activity-list,
.members-list {
	font-family: "Gotham Book", Arial, sans-serif;	
}
.members-list li {
	margin: 15px 0;
	padding: 0 10px;
	position: relative;
	clear: both;
}
.members-list li > img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 10px;
	display: inline-block;
}
.members-list li > p {
	padding: 12px 15px;
	background: #f8fafb;
	border-radius: 3px;
	margin-bottom: 3px;
}
.tab-content {
	position: relative;
}
.status {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	background: #C2CCE2;
	border-radius: 50%;
	top: -6px; left: 32px;
	border: 3px solid #fff;
}
.status.online {
	background: #8bc34a;
}
.status.offline {
	background: #ef5350;
}
@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/gotham-book.eot');
  src: url('../fonts/gotham-book.eot') format('embedded-opentype'), url('../fonts/gotham-book.woff') format('woff'), url('../fonts/gotham-book.ttf') format('truetype'), url('../fonts/gotham-book.svg#GothamBook') format('svg');
}
@font-face {
  font-family: 'Gotham Prowork';
  src: url('../fonts/gotham.eot');
  src: url('../fonts/gotham.eot') format('embedded-opentype'), url('../fonts/gotham.woff') format('woff'), url('../fonts/gotham.ttf') format('truetype'), url('../fonts/gotham.svg#Gotham') format('svg');
}
@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/gotham-medium.eot');
  src: url('../fonts/gotham-medium.eot') format('embedded-opentype'), url('../fonts/gotham-medium.woff') format('woff'), url('../fonts/gotham-medium.ttf') format('truetype'), url('../fonts/gotham-medium.svg#GothamMedium') format('svg');
}
