@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/gotham-medium.eot');
    src: url('../fonts/gotham-medium.eot') format('embedded-opentype'),
         url('../fonts/gotham-medium.woff') format('woff'),
         url('../fonts/gotham-medium.ttf') format('truetype'),
         url('../fonts/gotham-medium.svg#GothamMedium') format('svg');
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/gotham-book.eot');
    src: url('../fonts/gotham-book.eot') format('embedded-opentype'),
         url('../fonts/gotham-book.woff') format('woff'),
         url('../fonts/gotham-book.ttf') format('truetype'),
         url('../fonts/gotham-book.svg#GothamBook') format('svg');
}


@font-face {
    font-family: 'Expo Bici';
    src:url('../fonts/expobici.eot');
    src:url('../fonts/expobici.eot?#iefix') format('embedded-opentype'),
        url('../fonts/expobici.ttf') format('truetype'),
        url('../fonts/expobici.woff') format('woff'),
        url('../fonts/expobici.svg#expobici') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Rename icon- for viz- to avoid conflicts with Bootstrap =========== */

[class*="viz-"] {
    font-family: 'Expo Bici';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.viz-compass:before {
    content: "\e600";
}
.viz-celsius:before {
    content: "\e601";
}
.viz-heart:before {
    content: "\e602";
    line-height: 126px;
    font-size: 64px;
}
.viz-colon:before {
    line-height: 115px;
    font-size: 50px;
    content: "\e603";
}
.viz-chancho:before {
    line-height: 115px;
    font-size: 65px;
    content: "\e606";
}
.viz-co2:before {
    line-height: 115px;
    font-size: 55px;
    content: "\e605";
}
.viz-hamburguesa:before {
    line-height: 120px;
    font-size: 50px;
    content: "\e604";
}
.viz-argentina:before {
    content: "\e607";
}
.viz-luna:before {
    content: "\e608";
    line-height: 113px;
    font-size: 63px;
}

header{display:block}
header .header-gcba{padding:10px 0;overflow:visible;background-color:#f9dd00;*background-color:#ffbd04;background-image:-o-linear-gradient(top, #ffe603, #ffbd04);background-image:linear-gradient(top, #ffe603, #ffbd04);background-image:-ms-linear-gradient(top, #ffe603, #ffbd04);background-image:-webkit-linear-gradient(top, #ffe603, #ffbd04);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffe603), to(#ffbd04));background-image:-moz-linear-gradient(top, #ffe603, #ffbd04);background-repeat:repeat-x;border-top:1px solid #fdfd00;border-bottom:1px solid #ffc702;filter:progid:dximagetransform.microsoft.gradient(enabled=false);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffe603', endColorstr='#ffbd04', GradientType=0);box-shadow:0 0 10px rgba(0,0,0,0.7)}header .header-gcba .header-inner{padding-right:20px;padding-left:20px}
header .header-gcba:hover,header .header-gcba:active,header .header-gcba.active,header .header-gcba.disabled,header .header-gcba[disabled]{background-color:#ffbd04;*background-color:#d6be00}
header .header-gcba:active,header .header-gcba.active{background-color:#bda700}
header .header-gcba .container{-webkit-opacity:.7;-moz-opacity:.7;opacity:.7}
header .header-gcba .logo{float:left;width:172px;height:33px;background:url(../img/logo-normal.png)}
header .header-gcba .slogan{
    display:block;width:115px;height:11px;background:url(../img/slogan.png);float:right;margin-top:12px;text-indent: -5000px;}

.site-footer{position:relative;*zoom:1;color:#fff;padding:40px 10px;height:inherit;background-color:#333;background-image:none;filter:none;font-size:12px}
.site-footer a{color:#ffbd04}
.footer-gcba .logo-invertido{float:left;width:172px;height:33px;background:url(../img/logo-invertido.png)}
.footer-gcba h2.slogan{float:right;margin-top:-4px;margin-bottom:0;font-size:15px;letter-spacing:-1px;color:#fff}
.footer-info{display:block;margin-top:30px}

.title-container {
    display:                        block;
    margin-bottom: 30px;
}

h1, h2 {
    font-style:                     normal;
    color:                          #212121;
    text-align:                     center;
}

h1 {
    font-family:                    "Gotham Medium", "Arial";
    font-size:                      2.438em;
    letter-spacing:                 0em;
    line-height:                    1em;
    padding-bottom:                 10px;
    margin-top:                     7px;
    display:                        block;
    background-position:            center center;
    background-repeat:              no-repeat;
}

h2 {
    font-family:                    "Gotham Book", "Arial";
    font-size:                      1.563em;
    letter-spacing:                 -.1em;
    line-height:                    1em;
    margin-top:                     7px;
    display:                        block;
    background-position:            center center;
    background-repeat:              no-repeat;
}


.main-widget {
    position:                       relative;
    color:                          #424242;
    display:                        block;
    text-align:                     center !important;
    margin:                         0 auto;
    height:                         344px;
}

.main-widget .circle {
    margin:                         0 auto;
    display:                        block;
    padding:                        5px;
    background-color:               #5cdbb0;
    color:                          #ffffff;
    border:                         #ffffff solid 10px;
    border-radius:                  550px;
    -webkit-border-radius:          550px;
    -moz-border-radius:             550px;
    width:                          280px;
    height:                         280px;

    -webkit-transition:             all .1s ease-in-out;

    text-decoration:                none;

    -ms-filter:                     "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:                         alpha(opacity=100);
    -moz-opacity:                   1;
    -khtml-opacity:                 1;
    opacity:                        1;
}

.main-widget .mask {
    position:                       absolute;
    display:                        block;
    margin:                         0 auto;
    width:                          280px;
    height:                         69px;
    background-image:               url(../img/gradient.png);
    background-position:            0 0;
    background-repeat:              no-repeat;
    top:                            123px;
    left:                           0;
    right:                          0;
    z-index:                        1000;
}

.main-widget .counter {
    display:                        block;
    margin:                         0 auto;
    font-family:                    "bebas_neueregular", "Gotham Medium", "Arial";
    font-style:                     normal;
    font-size:                      5.3em;
    letter-spacing:                 -.15em;
    line-height:                    .9em;
    margin-top:                     110px;
    color:                          #424242;
}

.main-widget .reference {
    position:                       absolute;
    left:                           0;
    right:                          0;
    bottom:                         20px;
    text-indent:                    -5000px;
    display:                        block;
    width:                          330px;
    height:                         130px;
}

.main-widget .usuarios {
    background:                     url(../img/ribbon-usuarios.png) no-repeat center center;
}

.main-widget .viajes {
    background:                     url(../img/ribbon-viajes.png) no-repeat center center;
}

.main-widget .kms {
    background:                     url(../img/ribbon-kms.png) no-repeat center center;
}

.date {
    text-align:                     center;
    margin:                         0 auto;
    display:                        block;
    padding:                        5px;
    color:                          #5cdbb0;

    width:                          270px;
    height:                         80px;

    -webkit-transition:             all .1s ease-in-out;

    text-decoration:                none;

    -ms-filter:                     "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:                         alpha(opacity=100);
    -moz-opacity:                   1;
    -khtml-opacity:                 1;
    opacity:                        1;
}

.date .referemce {
    display: block;
    width: 100%;
}

.date .count {
    display: block;
}

.date .odometer-formatting-mark {
    display: none;
}


.widget {
    color:                          #424242;
    width:                          200px;
    height:                         290px;
    display:                        block;
    text-align:                     center !important;
    padding-bottom:                 25px;
    margin-top:                     50px;

}

.count {
    display:                        block;
    margin:                         0 auto;
    font-family:                    "bebas_neueregular", "Gotham Medium", "Arial";
    font-style:                     normal;
    font-size:                      3.2em;
    line-height:                    1em;
    margin-top:                     7px;
}
.reference {
    display:                        block;
    margin:                         0 auto;
    font-family:                    "Gotham Book", "Arial";
    font-style:                     normal;
    font-size:                      1.4em;
    color:                          #333;
}

.circle {
    margin:                         0 auto;
    display:                        block;
    padding:                        5px;
    background-color:               #ffffff;
    color:                          #5cdbb0;
    border:                         #5cdbb0 solid 7px;
    border-radius:                  120px;
    -webkit-border-radius:          120px;
    -moz-border-radius:             120px;
    width:                          120px;
    height:                         120px;

    -webkit-transition:             all .1s ease-in-out;

    text-decoration:                none;

    -ms-filter:                     "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:                         alpha(opacity=100);
    -moz-opacity:                   1;
    -khtml-opacity:                 1;
    opacity:                        1;
}

.widget .odometer-digit {
    letter-spacing:                 .01em;
    width:                          10px !important;
}

.odometer-formatting-mark {
    letter-spacing:                 .01em;
}

#hito-container .span12{
    height:                         270px;
    text-align:                     center;
    background-color:               #5CDBB0;
    border-width:                   10px;
    border-color:                   #FFFFFF;
    border-style:                   solid;
    border-radius:                  50px;
    margin-bottom:                  50px;
    padding:                        0 100px;
}

#hito-container #hito{
    font-family: "bebas_neueregular", "Gotham Medium", "Arial";
    font-style: normal;
    font-size: 4.2em;
    line-height: 1em;
    margin-top: 40px;
}

#hito-container #hito-fecha{
    line-height: 1em;
    margin-top: 40px;
    font-family: "Gotham Book", "Arial";
    font-style: normal;
    font-size: 2.2em;
}

.institucional {
    background: #FFF;
    padding-top: 53px;
}

.institucional .container-fluid {
    padding: 0px;
}

h1, h2 {
    font-style:                     normal;
    color:                          #212121;
    text-align:                     center;
}

.institucional h1 {
    font-family:                    "Gotham Medium", "Arial";
    font-size:                      3.438em;
    letter-spacing:                 0em;
    line-height:                    1em;
    padding-bottom:                 10px;
    margin-top:                     95px;
    display:                        block;
    text-indent:                    0px;
    background:                     none
}

.institucional h2 {
    font-family:                    "Gotham Book", "Arial";
    font-size:                      1.563em;
    letter-spacing:                 -.1em;
    line-height:                    1em;
    margin-top:                     7px;
    display:                        block;
    text-indent:                    0px;
    background:                     none
}


.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}

.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-caption {
  font-family: "Gotham Medium", "Arial";

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  display: block;
  width: 700px;
  margin: 0 auto;
  line-height: 30px;
  color: #434343;
}

.carousel-caption h4{
  font-size: 40px;
}

.carousel-caption p {
  font-size: 20px;
  margin-bottom: 0;
}






